body{
background-color: rgb(102, 205, 170);
line-hight: 80%;
font-size: 20px;
}


img{
width: 50%;
height: 50%;
}


div{
background-color: darkcyan;
color: black
}
h2:first-child {
  background-color: yellow;
  margin-right: 39em;
}
#head{
background-color: yellow;
margin-right: 40.5em;
}
p:last-child {
background-color: green;
color: white;
}